* {
    box-sizing: border-box;
}

figure {
    position: relative;
    width: 400px;
    box-shadow: 4px 6px 22px 1px rgba(0, 0, 0, 0.75);
}

figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(28, 90, 100, 0.7);
    padding: 0.75rem;
}

figure img {
    display: block;
}

h1, p {
    margin-top: 0;
}