.headfoot {
    width: 600px;
    padding: 5px;
    border: 5px solid #adfd93;
    background-color: #e7fad7;
    margin-bottom: 20px;
    text-align: center;
}

.article01 {
    width: 600px;
    padding: 5px;
    border: 5px solid #76ea4f;
    background-color: #e7fad7;
    margin: 10px 0px;
}


/* h1, h2, p {
    margin-top: 0;
} */